.footer {
    background-color: black;
    text-align: center;
    width: 100vw;
}

.footer h3 {
    color: white;
    font-size: 24px;
    padding: 20px 0;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
}