@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,800i,900&display=swap');

:root {
  --primary-color:#FFF;
  --secondary-color:black;
}

[data-theme="dark"] {
  --primary-color:black;
  --secondary-color:#FFF;
}

body{
  margin: 0;
  font-family: 'Montserrat' , sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: relative;
}

h1{
  font-style: italic;
}

h2{
  display: inline-block;
  border: 4px solid var(--secondary-color);;
  text-transform: uppercase;
  font-weight:normal;
  font-style:italic;
  text-align: center;
  padding: 10px 20px;
  font-family: 'Montserrat';
  animation: skewin  0.4s .3s forwards;
  margin-bottom: 30px;
  z-index: -1;
}

p{
  font-size: 16px;
  line-height: 25px;
}

img{
  max-width: 100%;
}

a{
  color: var(--secondary-color);;
  text-decoration: none;
}

.home, .article__post, .listing{
  padding-top: 130px;
}

@media(min-width: 1200px){
  .home, .article__post, .listing{
    max-width: 1200px;
    margin: 0 auto;
  }
}

@keyframes skewin {
  from {
    transform: skew(0);
  }
  to {
    transform: skew(-20deg);
  }
}